*{
    background-color: rgb(207,15,27);
}
html{
    font-size: 62.5%;
}

*{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(207,15,27);

}


.logooo{
    background-color: rgba(203, 15, 27, 0);
   position: relative;
   bottom: 80%;
}

br {
     background-color: rgba(203, 15, 27, 0);
}

.borderr {
border: 1rem solid aliceblue;
/* padding-left: 0 !important;
padding-right: 0 !important; */


}

.content2{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.imgg {
    text-align: center;
}

.director {
    /* transform: translateY(-100%); */
    text-align: center;
    font-size: 5.5rem;
    font-weight: 1rem;
    color: aliceblue;
}

.services{
    padding: 2%;
    box-sizing: border-box;
}


.items{
    text-align: center;
    font-size: 3rem;
    font-weight: 1rem;
    color: aliceblue;
}

.items .spc{
    border-left: 0.2rem solid white ;
    border-right:0.2rem solid white ;
}

.service2 {
    padding: 2%;
    text-align: center;

}

i{
    color: orangered;
}

.service2 .itemss i
{
    background-color: aliceblue;
    border: 0.5rem solid orangered;
    padding: 10%;
    border-radius: 5rem;

}


.ending {
    text-decoration: none;
    text-align: center;
    font-size: 4rem;
 color:  rgb(203, 15, 27);
    /* color: black; */
    font-weight: bold;
  background-color: aliceblue;
  margin-bottom: 0 !important;
  padding-bottom: 2%;


    /* margin: 16% auto auto; */
    /* background-color: rgba(203, 15, 27, 0); */

}



.link{
  transform: translateY(-7%);
  /* background-color: rgba(203, 15, 27, 0); */
  background-color: aliceblue;

}


.end{
    text-align: center;
    /* transform: translateY(-117%); */
      /* background-color: rgba(203, 15, 27, 0); */
      /* margin-bottom: -53.5%; */
      /* margin-bottom: -51.5%; */
      /* margin-top: -58%; */
}
/* 
/* .bottom{
 width: 102.25%;
    transform: translateX(-1.25%) translateY(90%);
    z-index: -1; 
   background-color: rgba(203, 15, 27, 0); 
}
*/
  

.galimg {
    padding-left: 0 !important;
    padding-right: 0 !important;
     border: 1rem solid aliceblue;
     box-sizing: border-box;
     margin: 2%;
 }

.topper1 {

    border-bottom : 1.5rem solid orange;
    height: 5rem; 
    border-bottom-right-radius: 20rem;
    background-color: aliceblue;
    
}

.botter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.topper2{
    background-color: aliceblue;
    border-bottom : 1.5rem solid orange;
    height: 5rem; 
    border-bottom-left-radius: 20rem;

    
}


.botter1{
    background-color: aliceblue;
    border-top : 1.5rem solid orange;
    height:10rem;
    border-top-right-radius: 10rem;
}

.botter2 {
    background-color: aliceblue;
    border-top : 1.5rem solid orange;
    height: 10rem;
    border-top-left-radius: 10rem;
}

.last {
    height: 5rem;
    background-color: aliceblue;

}
.galery {
    margin-top: 5%;
    margin-bottom: 5%;
}

.topperupper1{
    border-bottom : 1.5rem solid orange;
    height: 8.0rem; 
    border-bottom-right-radius: 20rem;
    background-color: aliceblue;
}

.topperupper2 {
    background-color: aliceblue;
    border-bottom : 1.5rem solid orange;
    height: 8rem; 
    border-bottom-left-radius: 20rem;

}

/* #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 10rem solid aliceblue;
    border-right: 53rem solid transparent;
    border-radius: ;
} */

#triangle-topleft {
  
    width: 100%;
    height: 7rem;
    background: aliceblue;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background: linear-gradient(to bottom right, aliceblue 45%, orange 0%);
  
  }
  

/* #triangle-topright {
    width: 0;
    height: 0;
    border-top: 10rem solid aliceblue;
    border-left: 53rem solid transparent;
  } */


  #triangle-topright {

    width: 100%;
     height: 7rem; 
    background: aliceblue;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background: linear-gradient(to bottom left, aliceblue 45%, orange 0%);
  }

/* .dhruv{
    display: inline-block;
    display: inline-block; 
	width: 500px; 
	min-height: 50px; 
	background-color: #eee; 
	height: auto; 
} */




@media (max-width: 1200px) and (min-width :990px)
{
    html{
        font-size: 58%;
    }
  
}

@media (max-width: 989px) and (min-width:769px) {
    html{
        font-size: 50%;
    }
  
}

@media (max-width: 768px) and (min-width:481px) {


    html{
        font-size: 40%;
    }
   

}

@media (max-width: 480px) and (min-width:0px) {


    html{
        font-size: 30%;
    }
   


}
